# Data cleaning

In [3]:
import pandas as pd

In [55]:
from use_cases.contributions import create_table_contributions

from use_cases.emotions import create_table_emotions
from use_cases.personal_needs import create_table_personal_needs
from use_cases.dialogues import create_table_dialogues
from use_cases.country_needs import create_table_country_needs
from use_cases.persons import create_table_persons
from use_cases.individuals import create_table_individuals


pd.options.mode.chained_assignment = None 

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Loading Data Surveys

In [28]:
chunksize   = 100 # Just for debugging
survey_path = './data/BBDD_Dialogos_2021_01_27.csv' 
survey = pd.read_csv(survey_path, chunksize=chunksize, low_memory=False)
for survey in survey: break
    
ind_online_survey_path = './data/Consulta_Individual_online_v2.xlsx'
ind_online_survey = pd.read_excel(ind_online_survey_path, 'Sheet1')
    
ind_survey_path = './data/Base_final_digitación_Consultas.xlsx'
ind_survey = pd.read_excel(ind_survey_path, 'CONSULTAS')

In [25]:
survey.sample(2)
ind_online_survey.sample(2)

,Submission Date,RUN,Edad,Comuna,1. ¿Cuál es el nivel de educación alcanzado por Usted?,2. ¿Cuál es el nivel de educación que alcanzó el jefe de su hogar? (sólo si se trata de alguien distinto a Usted),1 >> Emociones / Sentimientos / Sensaciones,1 >> Explique lo mencionado,2 >> Emociones / Sentimientos / Sensaciones,2 >> Explique lo mencionado,...,2 >> Rol del actor social (Describa),3 >> Necesidades del país identificadas,3 >> Rol del Estado (Describa),"3 >> Actor social (empresa, organizaciones sociales, medios de comunicación, comunidad, etc)",3 >> Rol del actor social (Describa),5. Pregunta: ¿Cuál es mi contribución personal para construir el Chile que queremos?,Comuna.1,"Comentarios finales: Si tiene alguna observación o sugerencia, en este espacio puede indicarla.",Región,Región.1
118,2020/01/28 17:16:55,fe4e1e449153be2f636ef9f2b1ce4cc1,57,NaN,Universitaria incompleta. Técnica completa.,Yo soy el jefe de hogar.,deprimido,no veo solucion por parte del estado o gobiern...,desanimado,sinestimulo a continuar mis labores agricolas ...,...,participar de las politicas publicas al respec...,prevision publica,"contralor y parte del reparto, mediantecsusins...",ministerio del trabajo y desarrollo social,ser parte del mecanismodecontrol y voto,"Aportar con mis impuestos, mi formacion, mis h...",Constitucion,la encuesta no me da espacio a tocar temas com...,Región del Maule,NaN
1295,2019/12/17 21:52:33,4bae087f3bfd2fb1e4b67cc9cca3607c,22,Las Condes,Universitaria incompleta. Técnica completa.,Universitaria completa.,Decepcionado,Falta de empatia y de responsabilidad del estado,Deprimido,"Veo un futuro inestable , donde o se perpetuán...",...,Ellos deben saber los reales problemas que se ...,Subsidiar un poco mas,que el estado tome un rol de dar un poco de di...,----,----,contestar esta encuesta\nseguir las leyes\ninf...,NaN,Hagan caso a la gente. porfavor. Yo ya no pued...,NaN,Region Metropolitana

## Processing Uses Cases
1. Emotions 
2. Contributions
3. Country needs 
4. Personal/familiar needs

### Persons Table (Dialogue)

In [8]:
persons_table = create_table_persons(survey)

In [9]:
persons_table.sample(3)

,file_id,age,sex,level,comuna_id,age_range
79,enc_u_4596806191197827612,62,f,universitaria_completa,15101,>=60
64,enc_u_4597463400111912984,66,h,,9105,>=60
60,enc_u_4597643359322725615,64,h,universitaria_completa,8201,>=60

### Dialogues

In [10]:
dialogues_table = create_table_dialogues(survey)

In [11]:
dialogues_table.sample(3)

,file_id,date,init_time,end_time,location,address,comuna_id,n_members,group_name
68,enc_u_4597427340775463337,28-02-2020,10:00:00,12:00:00,facultad de medicina ufro,casino de la facultad,9101,5,usuarios de oficina movil de bienes nacionales
16,enc_u_4601845869157670140,13-03-2020,10:15:00,11:45:00,sed union comunal adulto mayor,conuepan esquina mc oliver,9112,0,usuarios de oficina movil de bienes nacionales
49,enc_u_4598360210156649032,14-01-2020,19:00:00,20:30:00,15 norte #2363 villa parque industrial,15 norte #2363,7101,5,usuarios de oficina movil de bienes nacionales

### Emotions

<img src="diagrams/q1.png" width=730 height=520 />

In [13]:
%%time
emotions_table = create_table_emotions(survey)

CPU times: user 697 ms, sys: 48.3 ms, total: 746 ms
Wall time: 747 ms

In [14]:
emotions_table.sample(2)

,file_ids,name,name_token,macro,text,text_tokens
79,ENC_U_4596806191197827612,preocupacion por la situacion diaria incierta.,"[preocupacion, situacion, diaria, incierta]",preocupacion por la situacion diaria incierta.,porque el movimiento ha generado disminucion e...,"[movimiento, generado, disminucion, creacion, ..."
22,ENC_U_4601731044543916003,miedo y terror,"[miedo, terror]",miedo y terror,lo que no se sabe que va a pasar.\nla incertid...,"[sabe, va, pasar, incertidumbre, pare, ves, to..."

### Individuals

In [31]:
%%time
individuals_table = create_table_individuals(ind_online_survey, ind_survey)

CPU times: user 8.66 s, sys: 56.7 ms, total: 8.72 s
Wall time: 8.63 s

In [32]:
individuals_table.sample(2)

,id,date,age,comuna_id,level,online,age_range
7829,9633,13-02-2020,24,10301,Media completa. Técnica incompleta,,15-30
3049,4853,,,11402,Media completa. Técnica incompleta,,0-15

### Country Needs

In [41]:
country_needs = create_table_country_needs(survey)

In [249]:
country_needs.sample(3)

,id,name,name_tokens,macro,exp,exp_tokens,role,role_tokens,actor,priority
59,510,responsabilidad,[responsabilidad],,el pais carece del valor de la responsabilidad...,"[pais, carece, valor, responsabilidad, gobiern...",rol activo,"[rol, activo]",estado,5
112,112,pensiones,[pensiones],,,,aumentar las pensiones de todos los chilenos y...,"[aumentar, pensiones, chilenos, chilenas, baja...",estado,
86,388,eliminar,[eliminar],,- cambiar constitucion \n- o restructurarla\n-...,"[cambiar, constitucion, restructurarla, elimin...",,,,0

### Family/PersonalNeeds

In [53]:
personal_needs = create_table_personal_needs(survey)

In [54]:
personal_needs.sample(3)

,id,diag_id,name,name_tokens,exp,exp_tokens,macro,priority
67,167,ENC_U_4597430940772627274,salud,[salud],que la salud no sea burocratica y que su atenc...,"[salud, burocratica, atencion, semejante, salu...",salud,2
60,460,ENC_U_4597643359322725615,respuesta sin completar.,"[respuesta, completar]",,,respuesta sin completar.,0
1,1,ENC_U_4602778880117363308,agua potable,"[agua, potable]",aun no tenemos agua potable en el sector rural,"[aun, agua, potable, sector, rural]",agua potable,1

### Contributions

In [58]:
contributions = create_table_contributions(survey)

In [59]:
contributions.sample(3)

,id,diag_id,text,text_tokens,macro
15,415,ENC_U_4601870260112596575,ser buenos ciudadanos.,"[ser, buenos, ciudadanos]",ser buenos ciudadanos.
61,261,ENC_U_4597643308415751967,participar de los procesos electorales que afr...,"[participar, procesos, electorales, afrontara,...",participar de los procesos electorales que afr...
35,135,ENC_U_4598389170159296566,participando en actividades actividades civicas,"[participando, actividades, actividades, civicas]",participando en actividades actividades civicas