# Data cleaning

In [74]:
import pandas as pd

In [76]:
from use_cases.emotions import process_emotions
from use_cases.contributions import process_contributions
from use_cases.individuals import process_individuals
from use_cases.country_needs import process_needs
from use_cases.personal_needs import process_needs

from use_cases.dialogues import create_table_dialogues
from use_cases.persons import create_table


pd.options.mode.chained_assignment = None 

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Loading Data Surveys

In [77]:
chunksize   = 100 # Just for debugging
survey_path = './data/BBDD_Dialogos_2021_01_27.csv' 
survey = pd.read_csv(survey_path, chunksize=chunksize, low_memory=False)
for survey in survey: break

In [78]:
survey.sample(2)

,ID,ID Archivo,Fecha,Hora Inicio,Hora Termino,Lugar,Dirección,Comuna,Region,Participantes,...,LP_COD_SEXO_P27,LP_COD_NIVEL_P27,LP_COD_SEXO_P28,LP_COD_NIVEL_P28,LP_COD_SEXO_P29,LP_COD_NIVEL_P29,LP_COD_SEXO_P30,LP_COD_NIVEL_P30,ALPDEI,TIPO INCIDECIA
27,28,ENC_U_4599158663298166911,11-03-2020,10:45:00,12:05:00,Sala Consejo Municipal Comuna Puerto Octay,Pedro Montt S/N,Puerto Octay,de los Lagos,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Encuesta Digitada con Incidencias
77,78,ENC_U_4596866960111106515,02-03-2020,10:30:00,12:30:00,Municipalidad de Traiguen,Basilio Urrutia 914,Traiguén,de la Araucania,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Aprobada con Incidencias

## Processing Uses Cases
1. Emotions 
2. Contributions
3. Country needs 
4. Personal/familiar needs

### Persons Table (Dialogue)

In [83]:
persons_table = create_table(survey)

In [84]:
persons_table.sample(3)

,file_id,age,sex,level,comuna,age_range
79,enc_u_4596806191197827612,62,f,universitaria_completa,arica,>=60
17,enc_u_4601818270117498182,46,f,basica_completa,temuco,45-60
86,enc_u_4596538444129461689,41,h,basica_completa,la serena,30-45

### Dialogues

In [103]:
dialogues_table = create_table_dialogues(survey)

Index(['ID Archivo', 'Fecha', 'Hora Inicio', 'Hora Termino', 'Lugar',
       'Dirección', 'Comuna', 'Participantes', 'Grupo'],
      dtype='object')

In [106]:
dialogues_table.sample(3)

,file_id,date,init_time,end_time,location,address,comuna,n_members,group_name
14,enc_u_4601871500116167158,09-03-2020,09:00:00,10:00:00,seremi de bienes nacionales,arturo prat 535,temuco,5,usuarios de oficina movil de bienes nacionales
59,enc_u_4597643380118026494,06-03-2020,10:00:00,12:00:00,ilustre municipalidad de temuco,avenida prat 650,temuco,5,usuarios de oficina movil de bienes nacionales
46,enc_u_4598364490156912284,29-01-2020,16:15:00,18:25:00,casa,villa las americas,talca,5,usuarios de oficina movil de bienes nacionales

### Emotions

<img src="diagrams/q1.png" width=730 height=520 />

In [127]:
%%time
emo_names, emo_exp = process_emotions(survey)

CPU times: user 753 ms, sys: 66.4 ms, total: 820 ms
Wall time: 823 ms

In [136]:
emo_names = emo_names.sample(2)
emo_names

              name             token           macro  emo_id
13       confianza       [confianza]       confianza      11
51  empoderamiento  [empoderamiento]  empoderamiento     119

In [137]:
emo_exp[emo_exp['emo_id'].isin(emo_names['emo_id'])]

,file_ids,text,text_tokens,emo_id
13,ENC_U_4601872630118251597,de que las demandas y manifestaciones (sanas) ...,"[demandas, manifestaciones, sanas, logren, mej...",11
51,ENC_U_4598337190995449677,- las personas comenzaron a reconocer cuales e...,"[personas, comenzaron, reconocer, cuales, dere...",119
53,ENC_U_4598232470115381386,en que chile y los chilenos siempre podemos sa...,"[chile, chilenos, siempre, podemos, salir, ade...",11

### Contributions

### Family Needs

### Country Needs