# Actualizacion de Tablas SQL
## Utilizando las nuevas tablas desde el modulo de sistematizacion

Antes que todo, es necesario que la carpeta `db/CSV/` se encuentra con los archivos nuevos -i.e., copiar y reemplazar en la carpeta las tablas nuevas.

En particular, las nuevas tablas contienen procesada la columna `macro`. Esta columna asigna una etiqueta o categoria, permitiendo agrupar distintas respuestas.

In [2]:
import pandas as pd
import numpy as np
import os 


from use_cases.pairs import create_pair_token
from use_cases.utils.textools import clean_alt_list, to_unicode

from use_cases.contributions import create_table_contributions, to_sql as con_to_sql
from use_cases.emotions import create_table_emotions, to_sql as emo_to_sql 
from use_cases.personal_needs import create_table_personal_needs, to_sql as per_need_to_sql
from use_cases.country_needs import create_table_country_needs, to_sql as count_need_to_sql

[nltk_data] Downloading package stopwords to /home/jovyan/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

### Emociones y Sentimientos

In [40]:
emotions_table = pd.read_csv('./db/CSV/emotions.csv', low_memory=False)

In [41]:
emotions_table.sample(2)

,id,diag_id,ind_id,name,name_tokens,macro,exp,exp_tokens,is_online
49562,49562,ENC_U_4554494271909703782,NaN,alegria,['alegria'],Alegría,-por el movimiento social y por la unidad que ...,"['movimiento', 'social', 'unidad', 'movimiento...",True
77688,77688,NaN,3228981,rechazo,['rechazo'],Repulsión,NaN,NaN,False

las listas se guardan como `strings` en el csv, es necesario volver a dejarlos como `listas`, asi tambien como pasar los id de los dialogos a `unicode`

In [45]:
emotions_table['name_tokens'] = emotions_table['name_tokens'].apply(lambda x: clean_alt_list(x))
emotions_table['exp_tokens'] = emotions_table['exp_tokens'].apply(lambda x: clean_alt_list(x))
emotions_table = emotions_table.replace({'nr':'','nan':'', 'NR':'', 'NaN':'', np.nan:''})
emotions_table['diag_id'] = to_unicode(emotions_table['diag_id'])
emotions_table = emotions_table.drop(emotions_table[(emotions_table['diag_id'] == '') & (emotions_table['ind_id'] == '')].index)

In [46]:
emotions_table.sample(2)

,id,diag_id,ind_id,name,name_tokens,macro,exp,exp_tokens,is_online
60179,60179,enc_u_4562081741901988839,,.,[nan],,.,[nan],True
1158,1158,enc_u_4557021980801366643,,decepcionado,[decepcionado],Enojo,por el actuar de las autoridades tras no apoya...,"[actuar, autoridades, tras, apoyar, fu...",True

Debemos recalcular los pares de palabras en caso de que algo haya cambiado

In [47]:
emotion_pair = create_pair_token(emotions_table, 'exp_tokens', 'emotion_id')

guardamos/reemplazamos la nueva tabla de pares y finalmente los nuevos `.sql`

In [48]:
emotion_pair.to_csv('./db/CSV/emotions_pairs.csv', index=False)
emo_to_sql(emotions_table, './db/SQL_INSERT/emotions.sql')

### Contribuciones

En el caso de contribuciones solo necesitamos guardar el nuevo `csv` como `sql`

In [54]:
contributions_table = pd.read_csv('./db/CSV/contributions.csv', low_memory=False)

In [55]:
contributions_table.sample(1)

,id,diag_id,ind_id,text,tokens,macro,is_online
64540,79629,NaN,3629873,"votar, para que este pais sea mejor","['votar', 'pais', 'mejor']",Participacion,False

In [56]:
contributions_table['tokens'] = contributions_table['tokens'].apply(lambda x: clean_alt_list(x))
contributions_table = contributions_table.replace({'nr':'','nan':'', 'NR':'', 'NaN':'', np.nan:''})
contributions_table['diag_id'] = to_unicode(contributions_table['diag_id'])
contributions_table = contributions_table.drop(contributions_table[(contributions_table['diag_id'] == '') & (contributions_table['ind_id'] == '')].index)

In [57]:
contributions_table.sample(1)

,id,diag_id,ind_id,text,tokens,macro,is_online
54305,66674,,2810793,soy una adulta mayor. mi aporte a mi pais ya l...,"[adulta, mayor, aporte, pais, di, trabaje...",Reciprocidad-Redes,False

In [58]:
con_to_sql(contributions_table, './db/SQL_INSERT/contributions.sql')

### Necesidades Personales

In [14]:
personal_needs_table = pd.read_csv('./db/CSV/personal_needs.csv', low_memory=False)

In [15]:
personal_needs_table.sample(1)

,id,diag_id,ind_id,name,name_tokens,exp,exp_tokens,macro,priority,is_online
86663,86663,NaN,4071168,mejor vivienda,"['mejor', 'vivienda']",postulacion a casa,"['postulacion', 'casa']",vivienda,3.0,0
65759,65759,NaN,82911aa8f036883e9ff9f32d50322c8c,oportunidades de estudiar,"['oportunidades', 'estudiar']",por que al cabo de tener una vida plena hay qu...,"['cabo', 'tener', 'vida', 'plena', 'trabajar',...",educacion,1.0,1

In [16]:
personal_needs_table['name_tokens'] = personal_needs_table['name_tokens'].apply(lambda x: clean_alt_list(x))
personal_needs_table['exp_tokens'] = personal_needs_table['exp_tokens'].apply(lambda x: clean_alt_list(x))
personal_needs_table = personal_needs_table.replace({'nr':'','nan':'', 'NR':'', 'NaN':'', np.nan:''})
personal_needs_table['diag_id'] = to_unicode(personal_needs_table['diag_id'])
personal_needs_table = personal_needs_table.drop(personal_needs_table[(personal_needs_table['diag_id'] == '') & (personal_needs_table['ind_id'] == '')].index)
personal_needs_table['is_online'] = personal_needs_table['is_online'].apply(lambda x: bool(x))
personal_needs_table['priority'] = personal_needs_table['priority'].apply(lambda x: int(x))

In [20]:
personal_needs_table.sample(1)

,id,diag_id,ind_id,name,name_tokens,exp,exp_tokens,macro,priority,is_online
70807,70807,,3205067,economica,[economica],falta de trabajo,"[falta, trabajo]",escacez hidrica,2,False
22510,22510,enc_u_4523401707314210356,,que la salud considerada como derecho,"[salud, considerada, derecho]",terminos de espera para recibir tratamiento,"[terminos, espera, recibir, tratamiento]",salud,3,False

Debemos recalcular los pares de palabras en caso de que algo haya cambiado

In [23]:
personal_needs_pairs = create_pair_token(personal_needs_table, 'exp_tokens', 'personal_need_id')

guardamos/reemplazamos la nueva tabla de pares y finalmente los nuevos `.sql`

In [25]:
personal_needs_pairs.to_csv('./db/CSV/personal_needs_pairs.csv', index=False)
per_need_to_sql(personal_needs_table, './db/SQL_INSERT/personal_needs.sql')